 {% extends "base.html" %}
{% block title %}Password Reset Done{% endblock %}
{% block body %}
    
    <body>
        
        <div class="lbox-horz"></div>
        <div class="lbox-vert">
            <a href="" class="icon-info ttips forgot-password" title="Problem&nbsp;Login?"></a>
        </div>
        <div class="login-box side-form">
        	<p class="password_reset_done">
				We have sent you an email with a link to reset your password.  Please check
				your email and click the link to continue.
			</p>
        </div>

{% endblock %}         







