{% extends "base_registration.html" %}
{% block title %}Password Reset{% endblock %}
{% block body %}
        <center id="password-reset-wrapper">
        <div class="lbox-horz"></div>
        <div class="lbox-vert">
            <a href="" class="icon-info ttips forgot-password" title="Problem&nbsp;Login?"></a>
        </div>
        
        <div class="login-box side-form">
            <br>
        	<p class="password_reset border-box">
            Forgot your password?  Enter your email in the form below and we'll send you
			instructions for creating a new one.</p>
            <br>
            <form class="form-validation" method="post" action="">
            {% if form.non_field_errors %}
            <div class="form-group has-error">
                    <span class="has-error">{{ form.non_field_errors.as_text  }}</span>
            </div>
            {% endif %}
            {% csrf_token %}
                <div class="form-group {% if form.username.errors %} has-error {% endif %}">
                <div class="input-cn">
                    <input type="text" class="input-sm validate[required,custom[email]] form-control" name="email"  placeholder="Enter Your Email">
                </div>
                <div class="icon">
                    <span class="right-icon"><i class="fa fa-envelope fa-lg"></i></span>
                </div>
                </div>
                
                <input type="submit" class="btn btn-gr-gray btn-block btn-primary btn" value="Reset My Password">
            </form>
            <br>
            <p><a href="/accounts/login/">Go to home</a></p>
        </div>
        
{% endblock %}       
