.dvtreemain
{
	float:left;
	boredr:1px groove silver;
	background-color:#FFF;
	width: 200px;
	height: 300px;
}
table tr td.name-label
{
color: white;
}
.main
{
	background-color:#666;
	width:400px;
	margin-top:40px;

}
.main1
{
	background-color:#666;
	width:400px;
	margin-top:40px;

}
.cantainer
{
	padding:0px;
	margin:0px;
	overflow:hidden;
	
	width:390px;
}
.cantainerleft
{
	width:100px;
	float:left;
}
.cantainerright
{
	float:left;
}
.main div
{
	padding-top:20px;
}
.main table tr td.info
{
	background-color:#666;	
	color:white;
	
}

.main1 table tr td.info
{
	background-color:#666;	
	color:white;
	
}

body
{
	
}

.dvheaderposter
{
color:#FFF;
font-family:verdana;
font-size:18px;
background-color:#930;
width:400px;
text-align:left;
}
.dvmain
{
width:400px;
}
.dvleftposter
{
float:left;
width:100px;
text-align:right;
}
.dvrightposter
{
text-align:left;
margin:10px;
width:250px;

}
.btnadd
{
	float:right;
	width:22px;
	height:23px;
	font-size:14px;
	text-align:center;
	margin-bottom:5px;
	padding-bottom:10px;
	
}
.txtaddsublink
{
	height:23px;
	padding-bottom:5px;
	float:right;
	width:30px;
}

.hide{
	display:none;	
}
.dvaleft{
	
	float:left;
	text-align:right;
	}
.dvaright{
	float:left;
	text-align:right;
	}