<html>
<head>
{% load staticfiles %}
<link rel='stylesheet' href="/static/css/bootstrap.min.css" type='text/css'>
<link rel='stylesheet' href="/static/css/style.css" type='text/css'>
<style type="text/css">
	.info{
		padding: 10px;
		background-color: #333 !important;
	}
</style>
</head>
<body>

<center>
	<div class='main1' style="background-color:#666; color:white;">
	<div class='dv1'>
		<table class='tbmain' width='400'>
		<tr>
		
		<td  class='info' colspan='2'>
			DIR DATA
		</td>
		</tr>
		</table>		
		<br>
		
		<div class='cantainer'>
			<div class='cantainerleft'>
				<label>Name </label>
			</div>
			
			<div class='cantainerright'>
				<input type="text" class="form-control" id="item-title">
			</div>
		</div>
		<br>
		
		<div class='newsublink'>
		</div>
		
		<div class='cantainer'>
			<div class='cantainerleft'>
				<label>
					Link
				</label>
			</div>
			<div class='cantainerright' >
				<input type='text' id='item-link' class='new-sublink form-control'> 
				
			</div>
		</div>
		<br>
		
		<div class='cantainer'>
			<div class='cantainerleft'>
				
					<label>Thumb </label>
			</div>
			<div class='cantainerright'>
			<input type="text" id="thumb-file" class="form-control">
			</div>
		</div>
		<br>
		<div class='dv-sublink hide cantainer'>
			<div class='cantainerleft'>
				<label>
					Sub Link
				</label>
			</div>
			<div class='cantainerright'>
				<input type='text' class='sublink form-control'/>
			</div>
		</div>
	
	<div style='padding-bottom:10px;'>
	<br>
		<input class="btn btn-success" type='Button' value='Save' id='save-xml-btn' />
		<input class="btn btn-info" type='Button' value='Reset' id='Reset' />
	</div>
	</div>
	
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>

	
	<script>
	$(document).on('click','#save-xml-btn',function(){
		var fd = new FormData();
		var arr = [];
		var parent = '';
		var fd = new FormData();	
		$('#path').find('li').each(function(){
		if ($(this).find('a').text() == 'root') {
		}
		else{parent = $(this).find('a').text() + '/';
		}
		});

		parent = parent.substring(0, parent.length - 1);
		
		fd.append('item_title',$('#item-title').val() );
		fd.append('item_thumbnail', $('#thumb-file').val() );
		fd.append('file_is', $(this).closest('#load-file').attr('data-fileis'));
		fd.append('parent',parent);
		fd.append('link', $('#item-link').val());
	
		$.ajax({
				url: '/xmltree/Add_Record_Dir/',
				data: fd,
				type: 'POST',
				processData: false,
				contentType: false,
				success: function(data){
					alert('success')
				}
		
		
		}); 
	
	});
	</script>
	