<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Sellplex {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Black Pearl Responsive Admin Template">
        <meta name="keywords" content="Black Pearl, Admin, Template, Bootstrap">
        <meta charset="UTF-8">
       
        <!-- CSS -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/icomoon.min.css" rel="stylesheet">
        <link href="/static/css/style.min.css" rel="stylesheet">
        <link href="/static/css/custom.css" rel="stylesheet">
        <link href="/static/css/form.min.css" rel="stylesheet">
        <link href="/static/css/font-awesome.min.css" rel="stylesheet">
        
        {% block extracss %}
        	
        {% endblock %}
        
    </head>
    
    <body>
        {% block body %}{% endblock %}
        
        <script src="/static/js/jquery-1.10.2.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/feeds.js"></script>
        <script src="/static/js/chosen.js"></script>
        <script src="/static/js/shadowbox.js"></script>
        <script src="/static/js/sparkline.min.js"></script>
        <script src="/static/js/masonry.min.js"></script>
        <script src="/static/js/enscroll.min.js"></script>
        <script src='/static/js/calendar.min.js'></script>
        <script src='/static/js/datatables.min.js'></script>
        <script src='/static/js/autosize.min.js'></script>
        <script src='/static/js/select.min.js'></script>
        <script src="/static/js/toggler.min.js"></script>
        <script src="/static/js/datetimepicker.min.js"></script>
        <script src="/static/js/colorpicker.min.js"></script>
        <script src="/static/js/fileupload.min.js"></script>
        <script src="/static/js/media-player.js"></script>
        <script src="/static/js/validation/validate.min.js"></script>
        <script src="/static/js/validation/validationEngine.min.js"></script>
        <script src='/static/js/slider.min.js'></script>
        <script src="/static/js/functions.js"></script>
        <script src="/static/js/prefixfree.min.js"></script>
        <sctipt src="/static/js/dashboard.js"></sctipt>
        <!-- 
        <sctipt src="/static/js/backbone.js"></sctipt>
        <script src="/static/js/todoapp.js"></script>
         -->
        {% block extrajs %}
        
        {% endblock %}
        
        
    </body>
</html>
       
